In [1]:
import pandas as pd

df_WD = pd.read_csv('df_result_WD.csv')
df_ML = pd.read_csv('df_result_ML.csv')

In [3]:
df_WD.sort_values(by='Centrality', inplace=True, ascending=False)
df_WD.head()

,Unnamed: 0,Account_name,Degree,betweenness,closeness,Centrality
27675,19,dalinhuang99,0.296079,0.293384,0.546158,1.135621
27674,15,nfultz,0.197471,0.186831,0.530756,0.915058
27673,26,addyosmani,0.115772,0.058213,0.477202,0.651187
27672,57,Bunlong,0.098067,0.063212,0.484881,0.646160
27671,80,gabrielpconceicao,0.082674,0.043265,0.467030,0.592969

In [4]:
df_ML.sort_values(by='Centrality', inplace=True, ascending=False)
df_ML.head()

      Unnamed: 0    Account_name    Degree  betweenness  closeness  Centrality
7430         146           rasbt  0.064872     0.116407   0.330994    0.512274
7429         218        amueller  0.041050     0.065855   0.323678    0.430582
7428         203          nd1511  0.028398     0.062945   0.337971    0.429314
7427         237  sebastianruder  0.037147     0.066095   0.321137    0.424378
7426         480     emaballarin  0.019112     0.047721   0.327367    0.394199